#NEWS {
   font-size: 1.3rem;
}


#aTAG:link {
   color: grey;
   text-decoration: none;
}

#aTAG:visited {
   color: grey;
   text-decoration: none;
}

#aTAG:hover {
   color: grey;
   text-decoration: none;
}